html
  head
    title Trinity Events - Society Dashboard
    meta(name='description', content='Profile')
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/public/dashboard.css')
  body
    h1.border.center Trinity Events - Society Dashboard 
    h2.center#welcome Welcome #{name}!
    a(href='./logout') Logout